<link href="https://fonts.cdnfonts.com/css/magz" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">


<div class="container">
    <h1>Hangmania</h1>
    <p>Enter your Nickname</p>
    <form id="nicknameForm" (submit)="onSubmit(player.value)">
        <input type="text" id="nicknameInput" placeholder="" #player/>
        <!-- <button [routerLink]="['select-lobby']" (click)="submitNickname()">enter</button> -->
        <button type="submit">enter</button>
    </form>
</div>
