<h1>results</h1>
<div class = "container">
    <div class = "leaderboard">
        <div class = "firstPlace" style = "display: flex; gap: 305px">
            <div><img src = "../../assets/gold_medal.png"></div>
            <div><p style = "color: gold;">username 1</p></div>
            <div><p style = "color: gold;"> -- points</p></div>
        </div>

        <div class = "secondPlace" style = "display: flex; gap:300px">
            <div><img src = "../../assets/silver_medal.png"></div>
            <div><p style = "color: silver;">username 2</p></div>
            <div><p style = "color: silver;"> -- points</p></div>
        </div>
        <div class = "thirdPlace" style = "display: flex; gap:300px">
            <div><img src = "../../assets/bronze_medal.png"></div>
            <div><p style = "color: rgb(172, 118, 52);">username 3</p></div>
            <div><p style = "color: rgb(172, 118, 52);"> -- points</p></div>
        </div>
        <div class = "fourthPlace" style = "display: flex; gap:300px">
            <div><img src = "../../assets/4.png"></div>
            <div><p>username 4</p></div>
            <div><p> -- points</p></div>
        </div>
        <div class = "thirdPlace" style = "display: flex; gap:300px">
            <div><img src = "../../assets/5.png"></div>
            <div><p>username 5</p></div>
            <div><p> -- points</p></div>
        </div>
    </div>
</div>
<a (click) = "exit()">Exit</a>
